@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.schedule{
    color:"#f3efe6";
  
    font-weight: 700;
    font-style: normal;
}

select::-ms-expand { 
	display: none;
}
.mybtn {
    border: none;
    width: 70px;
    height: 25px;
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #f7e8f2 5%, #ffb2e5 100%);
	background-color:#f7e8f2;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;

	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #bc54cc;
}
.mybtn:hover {
	background:linear-gradient(to bottom, #ffb2e5 5%, #f7e8f2 100%);
	background-color:#ffb2e5;
}
.mybtn:active {
	position:relative;
	top:1px;
}

.select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
   
  
  }  
  .select option {

    color: white;
    padding: 3px 0;
    text-align: center;
  }
   

select::-ms-expand { 
	display: none;
}
.select {
   border: none;
   border-radius: 30px;
   width: 90px;
   text-align: center;

border: 1px solid white
}
.select option {
    border: none;
    border-radius: 20px;
    outline:none;
    color: black;
   margin: 0px;
   checked { display:block; }
   -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }

  .sc_btn:hover{
    transform:scale(1.1);
    transition: transform .5s;

  }