@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.commununity_font{
    color:"#f3efe6";
	font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
}
.clip{
    clip-path: inset(0 0 0 0);
}
.update_btn2 {
    background: white;
    border-radius: 30px;
    color:"#f3efe6";
      font-family: '양진체';
      src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-style: normal;
  }
  
  
  
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  .update_btn2 button {
    margin: 20px;
  }
  .custom-btn2 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
  
    font-weight: 500;
    
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;

    outline: none;
  }
  
  
  
  
  /* 16 */
  .btn-162 {
    border: none;
    color: #000;
  }
  .btn-162:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    
  }
  .btn-162:hover {
    color: #000;
  }
  .btn-162:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-162:active {
    top: 2px;
  }
  
  
  
  