.footer_clip{
    clip-path: inset(0 0 0 0);
}

.footer_font{
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-style: normal;
}